---

---

<footer>
	<p>
		This project has been possible through the joint efforts of various 
		teams in Politecnico di Milano and SUPSI/IDSIA. 
	</p>
	<p>	
		For any comments,
		requests or questions please feel free to contact <a href="">Gunes Cagin
		Aydin</a>.
	</p>
</footer>
<style>
	footer {
		text-align: center;
		color: #005828;
		background-color: rgb(255, 255, 255);
	}
	footer a {
		color: #005828;
		text-decoration: none;
	}
</style>