---

---

<header>
		<h2>
			Diffusion Sequence Models for
			Generative In-Context <br> Meta-Learning of Robot Dynamics
		</h2>
		<div class="academic-links">
			<a href="https://www.supsi.ch/en/angelo-moroncelli-">Angelo Moroncelli</a><sup>2</sup>, <a href="https://www.supsi.ch/en/matteo-rufolo">Matteo Rufolo</a><sup>2</sup>, <a href="https://gunescaginaydin.github.io/">Gunes Cagin Aydin</a><sup>1</sup>, <a href="https://www.supsi.ch/en/asad-ali-shahid">Asad Ali Shahid</a><sup>1,2</sup>, <a href="https://www.supsi.ch/loris-roveda">Loris Roveda</a><sup>1,2</sup>
		</div>
		<div class="site-links">
			<a href="/Poster.pdf">Poster</a>
			<a href="/Preprint.pdf">Paper (Preprint)</a>
			<a href="https://github.com/GunesCaginAydin/dynamical-metalearning">Github</a>
		</div>
</header>
<style>
	header {
		text-align: center;
		color: #465f5c;
		background-color: rgb(255, 255, 255);
		margin: 0em 2em;
	}

	h2 {

	}

	.academic-links {

	}

	.academic-links a {
		color: #465f5c;
		text-decoration: none;
	}

	.site-links {
		display: flex;
		gap: 1em;
		align-items: center;
		justify-content: center;
	}

	.site-links a {
		color: #465f5c;
		text-decoration: none;
	}
</style>