---

---

<header>
		<h2>
			Advancing Identification Methodologies Through In Context Dynamical Metalearning:
			A Comparison Between Different Neural Architectures
		</h2>
		<div class="academic-links">
			<a href="https://gunescaginaydin.github.io/">Gunes Cagin Aydin</a><sup>1,2</sup>, <a href="https://www.supsi.ch/elia-tosin">Tosin Elia</a><sup>2</sup>, <a href="https://www.supsi.ch/en/angelo-moroncelli-">Angelo Moroncelli</a><sup>2</sup>, <a href="https://www.supsi.ch/en/asad-ali-shahid">Asad Ali Shahid</a><sup>2</sup>, <a href="https://www.supsi.ch/loris-roveda">Loris Roveda</a><sup>1,2</sup>, <a href="https://www.mecc.polimi.it/en/staff/francesco.braghin">Francesco Braghin</a><sup>1,2</sup>
		</div>
		<div class="site-links">
			<a href="https://github.com/GunesCaginAydin/dynamical-metalearning">Github</a>
			<a href="https://colab.research.google.com/drive/1B7BwVj3Jtqwa8Vj1aH6Av7Zsu6fxm6WC?usp=sharing">Colab</a>
			<a href="/Poster.pdf">Poster</a>
			<a href="/">Paper (Soon to Come)</a>
		</div>
</header>
<style>
	header {
		text-align: center;
		color: #005828;
		background-color: rgb(255, 255, 255);
		margin: 2em 2em;
	}

	h2 {

	}

	.academic-links {

	}

	.academic-links a {
		color: #005828;
		text-decoration: none;
	}

	.site-links {
		display: flex;
		gap: 1em;
		align-items: center;
		justify-content: center;
	}

	.site-links a {
		color: #005828;
		text-decoration: none;
	}
</style>