---
import BaseHead from "../components/base_head.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
                <BaseHead title={title} description={description} />
	</head>
	<body>
                <Header class="header"/>

                <main class="main">
                        <slot />
                </main>

                <Footer class="footer" />
	</body>
</html>

<style>
        .header {
                min-height: 50px;
        }
        .main {
                flex: 1;
	        max-width: calc(100% - 2em);
                max-height: 80%
        }
        .footer {
                min-height: 50px;
        }
</style>